* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #292935;
    color: #fff;
    background-image: url('data:image/svg+xml,<svg width="1951" height="1080" viewBox="0 0 1951 1080" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="430.44" y="-212" width="404.009" height="1401.12" transform="rotate(24.8332 430.44 -212)" fill="%23FF914D" fill-opacity="0.9"/><g filter="url(%23filter0_i_60_2)"><rect x="1574" y="751" width="329" height="312" rx="25" fill="url(%23paint0_radial_60_2)" fill-opacity="0.6"/></g><g filter="url(%23filter1_f_60_2)"><rect x="1754" y="848" width="193" height="184" rx="25" fill="url(%23paint1_radial_60_2)" fill-opacity="0.4"/></g><defs><filter id="filter0_i_60_2" x="1574" y="751" width="329" height="316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="shape" result="effect1_innerShadow_60_2"/></filter><filter id="filter1_f_60_2" x="1750" y="844" width="201" height="192" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_60_2"/></filter><radialGradient id="paint0_radial_60_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1738.5 907) rotate(90) scale(156 164.5)"><stop offset="0.12" stop-color="%2399572E"/><stop offset="0.76" stop-color="%23FF914D"/></radialGradient><radialGradient id="paint1_radial_60_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1850.5 940) rotate(90) scale(92 96.5)"><stop offset="0.115" stop-color="%23991D1D"/><stop offset="0.925" stop-color="%23FF3131"/></radialGradient></defs></svg>');
    background-size: 96% 100%;
    background-repeat: no-repeat;
}

.navbar{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #fff;  
    position: relative;
    margin-right: 5%;
    font-size: large;
}

.header{
    margin-left: 1.23rem;
    background-color: #484850;
    width: 97%;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.agora a{
    font-weight: 700;
    color: #E9864A !important; 
}

.header a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px 0 5px;
}


.container {
    display: flex;
    height: 100vh;
}

.menu {
    width: 250px;
    background-color: #3c3c47;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10px 20px 20px 20px; 
    border-radius: 0.5rem;
}

.perfil img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.perfil h2 {
    font-size: 1.5em;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.perfil p {
    font-size: 1em;
    color: #c0c0c0;
    margin-top: 0.1rem;
    margin-left: 2.5rem;
}

.regiao-select, .data-select, .filial-select, .periodo-select {
    width: 100%;
    text-align: left;
}

.regiao-select label, .data-select label, .filial-select label, .periodo-select label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.regiao-select select, .filial-select select, .periodo-select select {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #484850; 
    border: none;
    color: #fff;
    font-size: 16px; 
}

.data-select input {
    margin-bottom: 10px;
    background-color: #484850;
    border: none;
    color: #fff;
    height: 2.2rem;
}

.campo-datas {
    display: flex;
    gap: 0.5rem;
}

.engloba-itens {
    background-color: #292A32;
    padding: 8px 3px;
    border-radius: 4px;
    width: 15rem; 
    box-sizing: border-box; 
}

.engloba-itens2 {
    background-color: #292A32;
    padding: 8px 3px;
    border-radius: 4px;   
}

.botao-comparar {
    width: 12rem;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: #D9D9D9;
    padding: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mudar-periodo {
    display: flex;
}

.mudar-periodo img {
    width: 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
}
    
.dashes {
    background-color: #3c3c47;
    border-radius: 0.5rem;
    width: 1150px;
    gap: 20px;
    margin: 10px 20px 20px 20px;
    padding: 20px;
}

.container-dashes {
    display: flex;
    flex-direction: column;
}

.dashes-baixo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.grafico1 {
    display: flex;
    flex-direction: column;
    background-color: #292A32;
    border-radius: 0.5rem;
    align-items: center;
    padding: 30px;
    justify-content: center;
    height: 350px;
    width: 400px;
}

#grafico21 {
    width: 0px;
}

.grafico2 {
    display: flex;
    flex-direction: column;
    background-color: #292A32;
    height: 350px;
    width: 500px;
    border-radius: 0.5rem;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.primeira_linha_graficos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.totens{
    width: 30%;
    height: 13rem;
    display: flex;
    background-color: #292A32;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.totens h3{
    margin: 5%;
}

.totens h4{
    margin: 5%;
}

.totens-quantidade{
    background-color: #f0f0f0;
    border-radius: 8px;
    color: #292935;
    width: 50%;
    height: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 20px;
    border-style: solid;
    font-weight: 700;
    border-color: #b1b1b9;
}

.totens-problema{
    background-color: #FF3131;
    font: bold;
    border-radius: 8px;
    color: #eaeaf1;
    width: 50%;
    height: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 10px;
    border-style: solid;
    font-weight: 700;
    border-color: #f76060;
}

/*Tentativa do Gauge*/


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .chartMenu {
    width: 10vw;
    height: 40px;
    background: #1A1A1A;
    color: rgb(179, 52, 52);
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #292A32;
  }