@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-family: Arial, sans-serif;
    background-color: #292935;
    color: #fff;
    background: url("/assets/background.svg") no-repeat bottom left/cover #292935ff;
    background-size: 96% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 0;
}


.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.menu {
    width: 250px;
    height: 94%;
    background-color: #32333C;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    z-index: 100;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.384);
}


.dashes-historico {
    background-color: #3A3B47;
    border-radius: 0px 10px 10px 0px;
    width: 90%;
    height: 94%;
    margin-right: 1.5%;
    padding: 10px;
    margin-right: 1.5%;
}

.div_logo {
    width: 90%;
    height: 15%;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.logo {
    width: 60%;
    height: 80%;
}

.logo img {
    width: 100%;
    height: 100%;
    margin-top: 7%;
    align-items: center;
}

.MKTS {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.select_dash h2 {
    font-family: "Abel";
}

.regiao-select {
    padding: 10px;
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regiao-select select {
    padding: 6.5px;
    margin-bottom: 10px;
    background-color: #292A32;
    border: #fff solid 2px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    height: 42px;
    border-radius: 10px;
}

.linha {
    margin-top: 140%;
    display: flex;
    justify-content: center;
    width: 200px;
    border-bottom: 3px solid #616161;
}

.perfil {
    width: 80%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto_perfil {
    width: 40%;
    height: 50%;
    align-items: center;
}

.perfil .foto_perfil img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.nome_perfil {
    margin-left: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nome_perfil hr {
    width: 50px;
    margin: 0%;
}

.nome_perfil h2 {
    margin: 0%;
    font-size: 25px;
    font-weight: 300;
    font-family: "Abel";
}

.cargo p {
    margin: 0%;
    font-size: 10px;
    margin-top: 4px;
    font-family: "Abel";
}

.monitoramento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-left: 3px solid#E9864A;
}

.monitoramento p {
    margin: 3%;
    margin-left: 10px;
    font-family: "Abel";
}

.analista {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    border-left: 3px solid#E9864A;
    justify-content: center;
}

.analista h3 {
    margin: 5px;
    font-family: "Abel";
}


/* tela gerente historico */

.dashboard-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #33363f;
    padding: 8px;
    border-radius: 8px;
    font-family: "Abel";
}

.status-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 2rem;
}

.alerta-status-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 4.5rem;
    margin-top: 7px;
    font-family: "Abel";
}

.fundo-status {
    background-color: #33363f;
    height: 2.4rem;
}

.engloba-status {
    flex: 1;
    background-color: #33363f;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.status-box {
    width: 8.5rem;
    height: 5.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all 1000ms ease;
    transform-style: preserve-3d;
}

.critico {
    background-color: #ff4d4d;
}

.atencao {
    background-color: #ffcc00;
}

.normal {
    background-color: #99cc66;
}

.status-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 2.1rem;
    font-family: "Abel";
}

.status-numero {
    font-size: 2em;
    font-weight: bold;
    margin-left: 3.5rem;
    font-family: "Abel";
}

.face {
    width: 100%;
    position: absolute;
}

.front {
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    text-align: center;
    color: white;
    justify-content: center;
}

.back {
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    border-radius: 10px;
    height: 100%;
}

.back1 {
    background-color: #ff4d4d;
}

.back2 {
    background-color: #ffcc00;
}

.back3 {
    background-color: #99cc66;
}


.area-fora:hover .status-box {
    transform: rotateY(180deg);
}

/* Estilo do Ranking */
.ranking {
    width: 41%;
    height: 9.2rem;
    background-color: #33363f;
    padding: 8px;
    display: flex;
    flex-direction: column;
    color: white;
}

.ranking-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Abel";
}

.table {
    width: 33rem;
    height: 9rem;
    border-collapse: collapse;
    background-color: #575a64;
    overflow: hidden;
    color: white;
}

.table tr {
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Abel";
}

th {
    font-family: "Abel";
}

.table tbody tr:nth-child(1) {
    background-color: #ffe034;
    color: black;
    font-family: "Abel";
}

.table tr:nth-child(2) {
    background-color: #c0c0c0;
    color: black;
    font-family: "Abel";
}

.table tr:nth-child(3) {
    background-color: #cd7f32;
    color: black;
    font-family: "Abel";
}

.fundo-grafico {
    flex: 1;
    background-color: #33363f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 16rem;
    margin-left: 2rem;
}

.plano-fundo {
    background-color: #33363f;
    width: 91.5%;
    height: 21rem;
    margin-left: 2rem;
}

.fundo-grafico-title {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Abel";
}

.engloba-indicador {
    display: flex;
    gap: 5rem;
    height: 170px;
}

.chart-area {
    display: flex;
    max-width: 550px;
    max-height: 240px;
}

.chart-area select {
    height: 3rem;
    background-color: #292935;
    color: white;
    border-color: #231313;
    /* border-style: none; */
}

.engloba-grafico {
    display: flex;
}


css .filtros {
    width: 70%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: #292A32;
    margin-left: 2rem;
}

.selecoes {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 25rem;
    margin-top: 3px;
}

.fTote {
    background-color: #31333C;
    width: 26%;
    height: 4rem;
    text-align: center;
    border-radius: 10px;
    border: #7C7C7C solid 1px;
    margin-top: 1rem;

    .h2-title {
        margin: 0;
        font-family: "Abel";
    }

    .fSelect {
        display: flex;
        margin-bottom: 2%;
        justify-content: space-evenly;

        input,
        select {
            background-color: #3A3B47;
            border: #4E4E4E solid 1px;
            color: #fff;
            border-radius: 5px;

            font-family: "Abel";
            font-weight: 200;
            font-style: normal;
            font-size: 18px;
            margin-top: 0px;
            margin-bottom: 4px;
        }

    }
}

.botao-filtrar {
    background-color: #3A3B47;
    border: #8e8c8c solid 2px;
    color: #fff;
    border-radius: 5px;
    font-family: "Abel";
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 4px;
}

#grafico-performance .chart-status {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

#stackedBarChart {
    width: 70% !important;
    height: auto !important;
}