@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hammersmith+One&family=Playwrite+ES:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hammersmith+One&family=Playwrite+ES:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'poppins';
    padding: 0;
    background: #292a32;
    overflow-x: hidden;
    gap: 5rem;
}
body::-webkit-scrollbar{
    width: 10px;
    background: #292a32;
}
body::-webkit-scrollbar-thumb{
    background: #ff3131;
    border-radius: 10px;
}

h1 {
    font-size: 2.5rem;
}

.primeira{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #ff6842, #ff3131, #ff6842);
}
.transicao{
    width: 100%;
    height: 80px;
    border-radius: 20px 20px 0px 0px;
    background: #292a32;
    position: absolute;
    z-index: 1000;
    bottom: -110px;

    transition: bottom 1s ease;
}

.back-primi{
    width: 100%;
    height: 100%;
    opacity: 0.07;
    background-image: url(background-primi.png);
    position: absolute;
    background-attachment: fixed;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
.header a{
    text-decoration: none;
}
.logo{
    width: 200px;
    height: 100%;
    font-family: "Hammersmith One", sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}
.cel-opts{
    width: 60px;
    height: 100%;
    font-family: "Hammersmith One", sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}


.opts{
    font-family: "Hammersmith One", sans-serif;
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opts li{
    list-style: none;
    color: #fff;
    cursor: pointer;
    padding: 10px; border-radius: 10px;
}
.opts li:hover{
    background: #fff;
   color: #292a32;
   transition: 0.5s;
}
.opts button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 2px solid #292a32;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.opts button:hover{
    background: #292a32;
    color: #fff;
    transition: 0.5s ease;
}
.content{
    width: 100%;
    height: 91.6%;
    display: flex;
    align-items: center;
}

.container{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 100;
}
.container p{
    width: 60%;
    font-family: 'poppins';
    color: #fff;
    text-align: justify;
}
.container h1 {
    font-family: "Hammersmith One", sans-serif;
    color: #fff;
    font-size: 5vw;
    margin: 0;
    text-shadow: 
    3px 3px 6px rgba(0, 0, 0, 0.23), 
    6px 16px 12px rgba(0, 0, 0, 0.404),
    9px 9px 15px rgba(0, 0, 0, 0.2);
}
.butinho{
    width: 60%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.butinho a{
    text-decoration: none;
    color: #fff;
}


.butinho button{
    width: 180px;
    height: 50px;
    font-size: 18px;
    background: #292a32;
    border: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.butinho button:hover{
    background: #ffb718;
    transition: 0.5s;
}
.butinho .logIn{
    width: 100px;
    background: #ffb718;
}
.butinho .logIn:hover{
    background: #292a32;
    transition: 0.5s;
}
.container1{
    width: 50%;
    height: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container1 img{
    animation: float 4.2s ease-in-out infinite;
    width: 80%;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
/* segunda seção */
.segunda{
    width: 100%;
    display: flex;
    background-size: cover;
}
.lat-bar{
    width: 100px;
    height: 100vh;
    top: 0;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    align-items: center;
    gap: 50px;
    transition: opacity 0.5s ease;
}
.lat-bar hr{
    transform: rotate(90deg);
    width: 100px;
}
.pontinhos{
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
}
.pontinhos button{
    width: 10px;
    height: 10px;
    transform: scale(0.8);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.pontinhos button::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, transform 0.5s;
    font-size: 15px;
    letter-spacing: 2px;
}

.pontinhos:hover button::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(10%) translateY(0);
}

.valores{
    width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   font-family:  "Hammersmith One", sans-serif;;
    z-index: 1;
    gap: 150px;
}
.valores h1{
    color: #ffffffd6;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #ff4242, 5px 5px 30px #ff3131;
}
.esp-cards{
    width: 100%;
    display: flex;
    justify-content: center; 
    justify-content: space-evenly;
}
 
.card{
    width: 200px;
    height: 12em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3a3b47;
    flex-direction: column;
    position: relative;
    transition: all 1000ms ease;
    transform-style: preserve-3d;
}

.face{
    width: 100%;
    position: absolute;
}

.front{
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    text-align: center;
    color: white;
    justify-content: center;
}
.back {
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    border-radius: 10px;
    height: 100%;
}
.back1{
    background-image: url(./aperto.png);
}

.back2{
    background-image: url(./inovar.png);
}

.back3{
    background-image: url(./Seguro.png);
}

.back4{
    background-image: url(./Alvo.png);
}

.back5{
    background-image: url(./Olho.png);
}

.card:hover {
    transform: rotateY(180deg);
}

.card p{
    font-size: 55px;
    color: #ffd1d8ae;
    margin: 0;
    text-shadow: 0px 2px 8px #ff4242, 5px 5px 30px #ff3131;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card span{
    color: #fff;
    font-size: 18px;
    text-shadow: 0px 2px 8px #ffffffa8;
    position: relative;
}


/* terceira seção */
.terceira{
    width: 100%;
    background-size: cover;
    background-image: url(Background\ 3sec.png);
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    overflow: hidden;
    align-items: center;
}
.main-ter{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.cont-self{
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
}
.cont-self h1{
    margin: 0;
    font-family: "Hammersmith One";
    text-shadow: 0px 2px 8px #ff4242, 5px 5px 30px #ff3131;
    color: #fee6e6;
}
.cont-self p{
    width: 80%;
    font-size: 20px;
    text-align: justify;
    font-family: "Hammersmith One";
    color: #bababa;
}
.cont-self1{
    width: 55%;
    height: 80%;
    display: flex;
    justify-content: end;
}
.cont-self1 img {
    display: flex;
    width: 100%;
}

.menu-burguer{
    width: 300px;
    height: 100%;
    background: #3a3b47;
    position: fixed;
    z-index: 1000;
    right: -300px;
    transition:  right 0.5s ease;
}
.clo-esp{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 35px;
    color: #fff;
}
.clo-esp i{
    margin-right: 10px;
    cursor: pointer;
}
.esp-list{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.esp-list li{
    font-size: 18px;
    font-family: 'Hammersmith One';
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
.esp-list li:hover{
    background: #fff;
    color: #292a32;
    transition: 0.5s;
}

/* quarta seção */

.quarta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5rem;
}
.quarta h1{
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0px 2px 8px #ff4242, 5px 5px 30px #ff3131;
    font-family:"Hammersmith One", sans-serif;;
}


.pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background-size: cover;
}
.espc-dash{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.espc-dash .dah{
    width: 100%;
    font-weight: 100;
    color: #fff;
    margin: 0;
    text-shadow: 0px 2px 8px #0000007f, 5px 5px 30px #ff313100;
}
.espc-dash p{
    width: 80%; 
    margin: 0;
    color: #adadad;
}
.checks{
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ch{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ci{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #3a3b47;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #ff4242;
}
.ch span{
    color: #bababa;
}
.checks button{
    width: 200px;
    margin-top: 20px;
    height: 45px;
    background: #292a32;
    border: 2px solid #ff4242;
    color: #d9d9d9;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.checks button:hover{
    background: #ff4242;
    transition: 0.5s;
}
.checks a{
   text-decoration: none;
}
.checks .ico{
    transform: rotate(50deg);
    font-size: 20px;
}


.mainDash{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(fundoDash.png);
    background-size: cover;
    background-position: 0%;
}

.pagina img{
    width: 75%;
}

/* lOGIN / CADASTRO */
.body_login {
    background-image: url(fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.body_cadastro {
    background-image: url(fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.login {
    height: 100%;
}
.login-cadastro{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.login-cadastro input {
    background-color: #d9d9d9;
    border: none;
    padding: 18px 20px;
    margin: 8px 0;
    width: 100%;
}

.login-cadastro button {
    border-radius: 10px;
    background-image: linear-gradient(#ff3131, #ff914d);
    color: #FFFFFF;
    font-size: 15px;
    width: 180px;
    height: 40px;
    transition: transform 80ms ease-in;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    font-family: "Hammersmith One", sans-serif;
}

.login-cadastro button:active {
    transform: scale(0.95);
}

.sigla {
    margin-bottom: 60px;
}

.sigla a {
    color: white;
    font-size: 30px;
    font-family: "Hammersmith One", sans-serif;
    text-decoration: none;
}

.painel {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    align-items: center;
}

.caixinha-branca {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 400px;
    padding: 2em 0;
    margin-top: 6rem;

}

.formulario-container {
    transition: all 0.6s ease-in-out;
}

.formulario-container h1 {
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: 20px;

}

.login-container {
    left: 0;
    z-index: 2;
}

.caixinha-branca.direita-ativo .login-container {
    transform: translateX(100%);
}
@media screen and (max-width: 900px) {
    .caixinha-branca{
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    min-height: 450px;
    }

    .caixinha-branca h1{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

.cadastro-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}


@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.caixinha-branca.direita-ativo .cadastro-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.container-animado {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.caixinha-branca.direita-ativo .container-animado {
    transform: translateX(-100%);
}

.deslize {

    background-image: linear-gradient(#ff3131, #ff914d);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.caixinha-branca.direita-ativo .deslize {
    transform: translateX(50%);
}

.painel-animado {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    color: black;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.painel-animado button {
    border-radius: 10px;
    background-color: #292a32;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    width: 180px;
    height: 40px;
    transition: transform 80ms ease-in;
    font-family: "Hammersmith One", sans-serif;
    cursor: pointer;
}

.painel-animado img {
    height: 250px;
    margin-bottom: 20px;
}

.painel-animado h1 {
    font-family: "Hammersmith One", sans-serif;
    margin-bottom: 20px;
}

.animacao-esquerda {
    transform: translateX(-20%);
}

.caixinha-branca.direita-ativo .animacao-esquerda {
    transform: translateX(0);
}

.animacao-direita {
    right: 0;
    transform: translateX(0);
}

.caixinha-branca.direita-ativo .animacao-direita {
    transform: translateX(20%);
}
.loading-div img {
    height: 10px;
    width: 10px;
    display: none;
}

.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 200px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 5%;
    margin-top: 1%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  .quinta {
    width: 100%;
    height: 100vh;
    background-image: url(MKTS.png);
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.parte_texto .esp-cards {
    margin-left: 15px;

    height: 40%;
}

.parte_texto .card {
    margin-left: 15px;
    width: 170px;

}

.parte_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parte_texto h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    text-shadow: 0px 2px 8px #ff4242, 5px 5px 30px #ff3131;
    font-family: "Hammersmith One", sans-serif;
}

.parte_texto p {
    margin-left: 10px;
    font-size: 20px;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.quando {
   width: 100%;
   height: 60%;
    background: #292a32;
    display: flex;
    justify-content: center;
}
.quando img{
    transform: scale(1.4);
    position: relative;
    z-index: 10;
}
.pt1{
    width: 550px;
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.funci{
    width: 95%;
    height: 45%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
}
.c{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(#ff3131, #ff914d);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
.left{
    position: relative;
    left: 5%;
}
.funci p{
    width: 80%;
    color: #bababa;
}

.imagem_quando img {
    margin-top: 20px;
    margin-left: 30px;
    height: 700px;
    width: 300px;
}

/* sexta seção */
.sexta{
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    background-image: linear-gradient(#ff3131, #ff914d);
}

.segunda_foto {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: #3a3b47;
}

.segunda_foto img {
    height: 137px;
    width: 200px;
}

#diferentao {
    border: 1px solid black;
    border-radius: 40px;
    color: black;
}

.divisoria{
    display: flex;
    justify-content: center;
    margin-top: 10px;
   
}
.linha{
    height: 4px;
    width: 95%;
    background-color:#3a3b47;
    border-radius: 10px;
}
.creditos{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: 45px;
    color: #292a32;
}

.equip{
    width: 100%;
    height: 100vh;
}
hr{
    width: 90%;
    background: #292a32;
}



/*NOSSOS SERVIÇOS CARDS*/

.cards-servico {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.card-servico {
    width: 350px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: #3a3b47;
    flex-direction: column;
    margin-bottom: 10px;
    padding-left: 1rem;
    margin-right: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    position: relative;
}

.card-servico:hover {
    transform: scale(1.05);
}

.card-servico img {
    display: flex;
}

.card-servico img {
    
    margin-bottom: 15px;
    display: flex;
    width: 3rem; 
}

.card-servico h5 {
    font-size: 18px;
    margin: 10px 0;
    color: white;
}

.card-servico .info-servico {
    font-size: 14px;
    color: white;
}

.cards-servico{
    display: flex;
}


 @media screen and (max-aspect-ratio: 1/1) {
    .logo{
        justify-content: start;
        margin-left: 20px;
    }

    .cel-opts{
        display: flex;
    }
    .content{
        flex-direction: column-reverse;
    }

    .butinho button{
        font-size: 14px;
    }

    .container1{
        width: 100%;
    }
    .container1 img{
        position: relative;
        left: 8px;
    }
    .container{
        width: 90%;
    }
    .container p{
        width: 100%;
        text-align: center;
    }
    .container h1{
        text-align: center;
        width: 100%;
        font-size: 10vw;
    }
    .lat-bar{
        left: -30px;
    }
    .esp-cards{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .valores{
        gap: 10px;
        width: calc(100% - 15px);
        right: 0;
    }
    .main-ter{
        flex-direction: column-reverse;
        height: 100%;
    }
    .cont-self{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-self1{
        display: none;
    }
    .cont-self1 img{
        display: none;
    }
    .cont-self p{
        padding-left: 20px;
        text-align: center;
    }
    .espc-dash .dah{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 32px;
    }
    .espc-dash{
        width: 100%;
        justify-content: center;
        margin-bottom: 100px;
    }

    .cards-servico {
        flex-direction: column;
        align-items: center; 
      }

      .card-servico {
        width: 80%; 
      }

      .pontinhos, .hr, .opcao-footer,.mainDash,.opts{
        display: none;
      }

}

/* CSS tela cadastro para o Gerente */

.cadastro_gerente{
    background-image: url(fundo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form_gerente{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 60%;
    /* border: #292A32 solid 3px;
    border-radius: 10px; */
}

#func{
    width: 25%;
}

#filial{
    width: 50%;
}

#totem{
    width: 25%;
}

.cadastro_gerente .form_func{
    background-image: linear-gradient(#FF3131, #FF3131, #FF3131, #FF914D);
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}

.textoTotem{
    z-index: 1;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.imgExp:hover{
    scale: 1.1;
    box-shadow: 16px 16px var(--shadow);
    transition: all 0.2s;
}

.cadastro_gerente .form_filial{
    /* background-image: linear-gradient(#D9D9D9, #D9D9D9, #FCFCFC,  #FCFCFC); */
    background-color: #FCFCFC;
    height: 100%;
    width: 100%;
    text-align: center;
}

.cadastro_gerente .form_totem{
    background-image: linear-gradient(#FFB418, #FFB418, #FFB418,  #FFDB91);
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}

.cadastro_gerente .box_superior{
    font-size: 28px;
    height: 50%;

    font-family: "Hammersmith One", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 15%;
}

.cadastro_gerente .Tbox_superior{
    font-size: 28px;
    height: 50%;

    font-family: "Hammersmith One", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 15%;
}

.form_func .box_superior{
    animation: slide-left 1s;
}

.form_func .Tbox_superior{
    animation: slide-left 1s;
}

.repete{
    animation: slide-left 1s;
}

.form_totem .box_superior{
    animation: slide-right 1s;
}

.form_totem .Tbox_superior{
    animation: slide-right 1s;
}



.cadastro_gerente .box_inferior{
    padding-top: 10%;
    font-size: 20px;
    height: 50%;
}

.cadastro_gerente .ggbox_superior{
    font-size: 40px;
    height: 30%;

    font-family: "Hammersmith One", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 8%;
    padding-left: 2%;
    padding-right: 2%;
    
}

.cadastro_gerente .ggbox_inferior {
    height: 70%;
}

.cadastro_gerente input{
    background-color: #b9b9b9;
    border-style: none;
    width: 40%;
    height: 15%;
    margin-top: 5%;
    border-radius: 10px;
    padding-left: 2%;
    color: #FFF;
}

.cadastro_gerente input::placeholder{
    color: #262626;
}

#totemInputs input{
    background-color: #ffffff;
    border-style: none;
    width: 40%;
    height: 15%;
    margin-top: 5%;
    border-radius: 10px;
    padding-left: 2%;
    color: #FFF;
}

#filialInputs{
    height: 100%;
    width: 100%;
}

#totemInputs{
    height: 100%;
    width: 100%;
}

.cadastro_gerente button{
    background-color: #393b46;
    border-style: none;
    width: 40%;
    height: 15%;
    margin-top: 5%;
    color: #FFF;
 
    font-family: "Hammersmith One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    border-radius: 10px;
}

.expande {
    animation: expande 1s both;
}

.diminui {
    animation: diminui 1s both;
}
  
  @keyframes slide-left {
    from {
      margin-left: 100%;
      width: 300%; 
      color: #00000000;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      color: #000000;
    }
  }

  @keyframes slide-right {
    from {
      margin-left: -600px;
      width: 300%; 
      color: #00000000;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      color: #000000;
    }
  }

  @keyframes expande {
    from {
      width: 25%; 
    }
  
    to {
      width: 50%;
    }
  }

  @keyframes diminui {
    from {
      width: 50%; 
    }
  
    to {
      width: 25%;
    }
  }