/* imports: */
/* fonts: "Abel", "Hammersmith One" */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Hammersmith+One&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* root: */
:root {
  --text-color: #ffffffff;
  --placeholder-color: #c0c0c0ff;
  --shadow-color: #0000007f;

  --div-color: #616161ff;
  --dashboard-color: #3a3b47ff;
  --header-color: #31333cff;
  --background-color: #292935ff;
  --indicador-color: #1e1f27;

  --gerente-color: #ff3131ff;
  --analista-color: #e9864aff;

  overflow: hidden;
  font-size: 1.5dvh;
}

/* defaults: */
body,
body *:not(script) {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  outline: none;
  outline-offset: 1px;
  border: none;
  padding: 0;
  background: none;
  font: 1rem "Abel", sans-serif;
  color: var(--text-color);
}

/* css estruturado: */
body {
  overflow: auto;
  align-items: stretch;
  height: 100dvh;
  padding: 2rem;
  background: url("/assets/background.svg") no-repeat bottom left/cover var(--background-color);

  & h1 {
    font-size: 2.5rem;
  }
  & h2 {
    font-size: 1.5rem;
  }
  & a {
    text-decoration: none;
  }
  & hr {
    border: 1px solid var(--text-color);
    width: 100%;
  }
  & :is(button, select) {
    cursor: pointer;
  }
  & option[selected][disabled] {
    display: none;
  }
  & select:has(option:checked[value=""]) {
    color: var(--placeholder-color);
  }

  & > div {
    flex-direction: row;
    align-items: stretch;
    flex: 1;

    & > header {
      gap: 2rem;
      align-items: stretch;
      z-index: 1;
      box-shadow: 10px 0px 10px var(--shadow-color);
      border-radius: 10px 0px 5px 10px;
      padding: 2rem;
      background-color: var(--header-color);
      width: 20rem;

      & > a.logo {
        transition: transform 0.2s;
        width: 100%;
        flex-direction: row;

        &:hover {
          transform: scale(105%, 105%);
        }
        & > div.img {
          flex: 1;

          & > img {
            width: 100%;
          }
        }
        & > h1 {
          flex: 1;
          font-family: "Hammersmith One", sans-serif;
        }
      }
      & > nav {
        gap: 2rem;
        justify-content: start;
        flex: 1;
        width: 75%;
        align-self: center;

        & > section {
          align-self: stretch;

          & > h2 {
            align-self: center;
          }
          & > ul {
            align-self: stretch;

            &,
            & > li {
              align-items: stretch;
            }
            & > li {
              transition: transform 0.2s;

              &:hover {
                transform: scale(105%, 105%) translate(2.5%, 0%);
              }
              &.ativo {
                border-radius: 3px;
                background-color: var(--dashboard-color);
              }
              & > a {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0 0.5em;

                & > img {
                  height: 1em;
                }
              }
            }
          }
        }
        & > section.gerente {
          border-left: 5px solid var(--gerente-color);
        }
        & > section.analista {
          border-left: 5px solid var(--analista-color);
        }
      }
      & > hr {
        border-color: var(--div-color);
      }
      & > a.perfil {
        transition: transform 0.2s;
        flex-direction: row;
        gap: 1rem;

        &:hover {
          transform: scale(105%, 105%);
        }
        & > div.img > img {
          height: 5rem;
        }
        & > div > span.nome {
          font-size: 2rem;
        }
      }
    }
    & > main {
      align-items: stretch;
      gap: 1rem;
      flex: 1;
      border-radius: 0px 10px 10px 0px;
      padding: 2rem;
      background-color: var(--dashboard-color);
      height: 98%;

      & > header {
        gap: 1.5em;
        align-items: stretch;

        & > div {
          border-radius: 10px;
          padding: 0.5rem;
          background-color: var(--header-color);

          & > h1 {
            font-size: 3rem;
          }
        }
        & > search {
          flex-direction: row;
          gap: 1.5rem;

          & > div {
            gap: 0.5rem;
            flex: 1;
            border-radius: 10px;
            border: 1px solid var(--div-color);
            padding: 1rem;
            background-color: var(--header-color);

            & > span {
              font-size: 2rem;
            }
            & > div {
              flex-direction: row;
              gap: 1rem;
              align-self: stretch;

              & > select {
                transition: transform 0.2s;
                flex: 1;
                border-radius: 5px;
                border: 1px solid var(--div-color);
                padding: 0.2em;
                background-color: var(--dashboard-color);
                font-size: 1.5rem;

                &:hover {
                  transform: scale(105%, 105%);
                }
              }
            }
          }
        }
      }
      & > section.dashboard {
        gap: 1rem;
        flex: 1;

        & > section {
          flex-direction: row;
          align-items: stretch;
          gap: 1rem;
          flex: 1;
          width: 100%;

          & > * {
            align-items: stretch;
            flex: 1;
            border-radius: 10px;
            padding: 1rem;
            background-color: var(--header-color);
          }
        }
        & > section.indicadores {
          flex: none;

          & > section {
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;

            & > section {
              justify-content: space-between;
              gap: 1rem;
              flex: 1;

              & > h2 {
                text-align: center;
                font-size: 2rem;
              }
              & > div {
                border-radius: 10px;
                padding: 0.5rem 1rem;
                background-color: var(--indicador-color);
                aspect-ratio: 148.52 / 109.31;
                min-width: 10.868rem;

                & > h3 {
                  text-align: center;
                  font-size: 2rem;
                }
                & > span.numero {
                  font-size: 3rem;
                  font-family: "Noto Serif", serif;
                }
              }
            }
          }
          & .alerta {
            & > div {
              border-radius: 10px;
              padding: 0.5rem 1rem;
              background-color: var(--gerente-color);
            }
          }
        }
        & > section.graficos > section > div.grafico {
          position: relative;
          flex: 1;

          & > canvas {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
