/* imports: */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

/* root: */
:root {
  --text-color: #ffffffff;
  --shadow-color: #0000007f;

  --header-color: #31333cff;
  --background-color: #292935ff;
  --dashboard-color: #3a3b47ff;

  --gerente-color: #ff3131ff;
  --analista-color: #e9864aff;

  font-size: 1rem;
}

/* defaults: */
body,
body *:not(script) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  outline: none;
  outline-offset: 1px;
  border: none;
  padding: 0;
  background: none;
  font: 1rem "Abel", sans-serif;
  color: var(--text-color);
}

/* css estruturado: */
body {
  align-items: stretch;
  height: 100dvh;
  padding: 2em;
  background: url("/assets/background.svg") no-repeat bottom left/cover var(--background-color);

  & h1 {
    font-size: 2.5rem;
  }
  & h2 {
    font-size: 1.5rem;
  }
  & a {
    text-decoration: none;
  }
  & img {
    width: 100%;
  }
  & hr {
    border: 1px solid var(--text-color);
    width: 100%;
  }

  & > div {
    flex-direction: row;
    align-items: stretch;
    flex: 1;

    & > header {
      align-items: stretch;
      z-index: 1;
      box-shadow: 10px 0px 10px var(--shadow-color);
      border-radius: 10px 0px 5px 10px;
      padding: 2em;
      background-color: var(--header-color);
      width: 25%;

      & > div.logo {
        width: 100%;
        flex-direction: row;

        & > img {
          flex: 1;
        }
        & > h1 {
          flex: 1;
        }
      }
      & > nav {
        width: 75%;
        flex: 1;
        align-self: center;

        &, & * {
          align-items: stretch;
        }
        & > div {
          flex: 1;

          & > h2 {
            align-self: center;
          }
          & > ul {
            & > li {

              & > a {
                flex-direction: row;
                justify-content: space-between;
              }
            }
          }
        }
        & > div.gerente {
          border-left: 5px solid var(--gerente-color);
        }
        & > div.analista {
          border-left: 5px solid var(--analista-color);
        }
      }
      & > a.perfil {
        flex-direction: row;
      }
    }
    & > main {
      flex: 1;
      border-radius: 0px 10px 10px 0px;
      padding: 2em;
      background-color: var(--dashboard-color);
      height: 98%;
    }
  }
}
