/* imports: */
/* fonts: "Abel", "Hammersmith One" */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Hammersmith+One&display=swap");

/* root: */
:root {
  --text-color: #ffffffff;
  --shadow-color: #0000007f;

  --div-color: #616161ff;
  --header-color: #31333cff;
  --background-color: #292935ff;
  --dashboard-color: #3a3b47ff;

  --gerente-color: #ff3131ff;
  --analista-color: #e9864aff;

  font-size: 1rem;
}

/* defaults: */
body,
body *:not(script) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  outline: none;
  outline-offset: 1px;
  border: none;
  padding: 0;
  background: none;
  font: 1rem "Abel", sans-serif;
  color: var(--text-color);
}

/* css estruturado: */
body {
  align-items: stretch;
  height: 100dvh;
  padding: 2em;
  background: url("/site/public/assets/background.svg") no-repeat bottom left/cover var(--background-color);

  & h1 {
    font-size: 2.5rem;
  }
  & h2 {
    font-size: 1.5rem;
  }
  & a {
    text-decoration: none;
  }
  & hr {
    border: 1px solid var(--text-color);
    width: 100%;
  }
  & table {
    &, & * {
    display: revert;
    }
  }
  & tr {
    &, & * {
    display: revert;
    }
  }

  & > div {
    flex-direction: row;
    align-items: stretch;
    flex: 1;

    & > header {
      gap: 2em;
      align-items: stretch;
      z-index: 1;
      box-shadow: 10px 0px 10px var(--shadow-color);
      border-radius: 10px 0px 5px 10px;
      padding: 2em;
      background-color: var(--header-color);
      width: 20rem;

      & > div.logo {
        width: 100%;
        flex-direction: row;

        & > div.img {
          flex: 1;

          & > img {
            width: 100%;
          }
        }
        & > h1 {
          flex: 1;
          font-family: "Hammersmith One", sans-serif;
        }
      }
      & > nav {
        gap: 2em;
        justify-content: start;
        flex: 1;
        width: 75%;
        align-self: center;

        & > section {
          align-self: stretch;

          & > h2 {
            align-self: center;
          }
          & > ul {
            align-self: stretch;

            &,
            & > li {
              align-items: stretch;
            }
            & > li {
              & > a {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0 0.5em;

                & > img {
                  height: 1em;
                }
              }
            }
          }
        }
        & > section.gerente {
          border-left: 5px solid var(--gerente-color);

          & ul >:first-of-type {
            background-color: #3A3B47;
            border-top-right-radius: 2%;
            border-bottom-right-radius: 2%;
          }
        }
        & > section.analista {
          border-left: 5px solid var(--analista-color);
        }
      }
      & > hr {
        border-color: var(--div-color);
      }
      & > a.perfil {
        flex-direction: row;
        gap: 1em;

        & > div.img > img {
          height: 5em;
        }
        & > div > span.nome {
          font-size: 2rem;
        }
      }
    }
    & > main {
      align-items: stretch;
      flex: 1;
      border-radius: 0px 10px 10px 0px;
      padding: 2em;
      background-color: var(--dashboard-color);
      height: 98%;

      & > header {
        gap: 1.5em;
        align-items: stretch;

        & > div {
          border-radius: 10px;
          padding: 0.5em;
          background-color: var(--header-color);

          & > h1 {
            font-size: 3rem;
          }
        }
        & > search {
          flex-direction: row;
          gap: 1.5em;

          & > label {
            gap: 0.5em;
            flex: 1;
            border-radius: 10px;
            border: 1px solid var(--div-color);
            padding: 1em;
            background-color: var(--header-color);

            & > span {
              font-size: 2rem;
            }
            & > div {
              flex-direction: row;
              gap: 1em;
              align-self: stretch;

              & > select {
                flex: 1;
                border-radius: 5px;
                border: 1px solid var(--div-color);
                padding: 0.2em;
                background-color: var(--dashboard-color);
                font-size: 1.5rem;
              }

              & > input {
                flex: 1;
                border-radius: 5px;
                border: 1px solid var(--div-color);
                padding: 0.2em;
                background-color: var(--dashboard-color);
                color: var(--text-color);
                font-size: 1.5rem;
              }

              & > input[type="date"]::-webkit-calendar-picker-indicator {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8 14q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m4 0q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m4 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14M3 22V4h3V2h2v2h8V2h2v2h3v18zm2-2h14V10H5z'/%3E%3C/svg%3E") no-repeat;
                background-size: 80%;
                background-position: center;
                padding: 0;
                margin-left: -20px;
              }

              & span {
                flex: 1;
                font-size: 1.5rem;
              }

            }
          }
        }
      }
      & > section.dashboard {
        flex: 1;

        }
      }
    }
  }

  .dashCima {
    display: flex;
    justify-content: space-evenly;
        & > div {
          
        }

        & canvas {
          background-color: #28283A;
          border-radius: 2%;
          
      }
    }

    .content-dash {
      justify-content: center;
      align-items: center;
    }

    .dashMain {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  .dashBaixo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

/* 
  .ranking {
    flex: 0;
    display: flex;
    justify-content: space-between;
    width: 45%;
  }

  .rankeados {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
  }

  .header {
    background-color: #af744c;
    color: white;
  }


  tr:hover {
    background-color: #ddd;
    color: #292935;
  } */

  table {
    width: 45%;
    border-collapse: collapse;
}

.tableHeader {
    background-color: #af744c;
    color: white;
    border: 1px solid #ddd;
}

.tableHeader, .tableSelector {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}


tr:hover {
    background-color: #ddd;
    color: #292935;
}

.ranking{
    display: flex;
    justify-content: space-between;
}
  
/* .separador {
  flex: 1;
}

.dashCima {
  display: flex;
  flex-direction: row;

  & > canvas {
    backgorund-color: #28283A;
  }
} */
