body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-family: Arial, sans-serif;
    background-color: #292935;
    color: #fff;
    background-image: url('data:image/svg+xml,<svg width="1951" height="1080" viewBox="0 0 1951 1080" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="430.44" y="-212" width="404.009" height="1401.12" transform="rotate(24.8332 430.44 -212)" fill="%23FF914D" fill-opacity="0.9"/><g filter="url(%23filter0_i_60_2)"><rect x="1574" y="751" width="329" height="312" rx="25" fill="url(%23paint0_radial_60_2)" fill-opacity="0.6"/></g><g filter="url(%23filter1_f_60_2)"><rect x="1754" y="848" width="193" height="184" rx="25" fill="url(%23paint1_radial_60_2)" fill-opacity="0.4"/></g><defs><filter id="filter0_i_60_2" x="1574" y="751" width="329" height="316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="4"/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="shape" result="effect1_innerShadow_60_2"/></filter><filter id="filter1_f_60_2" x="1750" y="844" width="201" height="192" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="2" result="effect1_foregroundBlur_60_2"/></filter><radialGradient id="paint0_radial_60_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1738.5 907) rotate(90) scale(156 164.5)"><stop offset="0.12" stop-color="%2399572E"/><stop offset="0.76" stop-color="%23FF914D"/></radialGradient><radialGradient id="paint1_radial_60_2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1850.5 940) rotate(90) scale(92 96.5)"><stop offset="0.115" stop-color="%23991D1D"/><stop offset="0.925" stop-color="%23FF3131"/></radialGradient></defs></svg>');
    background-size: 96% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 0;
}


.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.menu {
    width: 250px;
    height: 94%;
    background-color: #32333C;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    z-index: 100;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.384);
}


.dashes {
    background-color: #3A3B47;
    border-radius: 0px 10px 10px 0px;
    width: 90%;
    height: 94%;
    margin-right: 1.5%;
    padding: 10px;
    margin-right: 1.5%;
}

.div_logo{
    width: 90%;
    height: 15%;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.div_logo img{
    aspect-ratio: 1;
    height: 95%;
    margin-top: 7%;
    align-items: center;
}

.MKTS{
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.regiao-select{
    padding: 10px;
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regiao-select select {
    padding: 6.5px;
    margin-bottom: 10px;
    background-color: #292A32;
    border: #fff solid 2px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    height: 42px;
    border-radius: 10px;
}

.linha {
    margin-top: 78%;
    display: flex;
    justify-content: center;
    width: 200px;
    border-bottom: 3px solid #616161;
}

.perfil{
    width: 80%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
}

.foto_perfil{
    width: 35%;
    align-items: center;
}

.perfil .foto_perfil img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.nome_perfil{
    margin-left: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nome_perfil hr{
    width: 50px;
    margin: 0%;
}

.nome_perfil h2{
    margin: 0%;
    font-size: 30px;
    font-weight: 300;
}

.cargo p{
    margin: 0%;
}

.monitoramento{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-left: 3px solid#E9864A;
}

a {
    color: #fff;
    text-decoration: none;
}

.previsao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-left: 3px solid#ff0000;
}

.monitoramento p{
    margin: 3%;
    margin-left: 10px;
}

.previsao p{
    margin: 3%;
    margin-left: 10px;
}


.analista{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    border-left: 3px solid#E9864A;
    justify-content: center;
}

.gerente{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    border-left: 3px solid#ff0000;
    justify-content: center;
}

.analista h3{
    margin: 5px;
}

.gerente h3{
    margin: 5px;
}


/* #region benchmark analista*/

.benchAnalista {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1{
        color: #fff;
        margin: 0px;

        font-family: "Abel", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 44px;
    }

    .titulo {
        background-color: #292A32;
        text-align: center;
        width: 80%;
        border-radius: 10px;

        display: flex;

        h1 {
            width: 90%;
        }

        img {
            margin-top: 8px;
            width: 4%;
            height: 35px;
            margin-left: 10px;
            padding-top: 2px;
            padding-bottom: 5px;

            cursor: pointer;
        }
    }

    .filtros {
        width: 80%;
        margin-top: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 10px;
        background-color: #292A32;

        h2{
            font-family: "Abel", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 29px;
            margin-top: 1px;
            margin-bottom: 15px;
        }

        .selecoes{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .fComp{
            background-color: #31333C;
            width: 20%;
            text-align: center;
            border-radius: 10px;
            border: #7C7C7C solid 1px;
            margin-left: 2%;

            .buttons{
                display: flex;
                margin-bottom: 2%;
                justify-content: space-evenly;
                padding-bottom: 2%;

                button{
                    background-color: #3A3B47;
                    border: #4E4E4E solid 1px;
                    color: #fff;
                    border-radius: 5px;
                    width: 30%;
                }

                h2{
                    font-family: "Abel", sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 27px;
                    margin-top: 1px;
                    margin-bottom: 0px;
                }
            }

            & h2 {
                margin-bottom: 12px;
            }


        }

        .btFiltro{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1%;
            padding-bottom: 0%;

            .comparacao{
                background-color: #59595E;
                border: none;
                width: 40%;

                font-family: "Abel", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 22px;
                color: #fff;
                border-radius: 5px;
            }

        }


        .fTote{
            background-color: #31333C;
            width: 40%;
            text-align: center;
            border-radius: 10px;
            border: #7C7C7C solid 1px;

            .fSelect {
                display: flex;
                margin-bottom: 2%;
                justify-content: space-evenly;

                select{
                    background-color: #3A3B47;
                    border: #4E4E4E solid 1px;
                    color: #fff;
                    border-radius: 5px;

                    font-family: "Abel", sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 22px;
                    margin-top: 0px;
                    margin-bottom: 1px;
                }

            }
        }


        .fPeri{
            background-color: #31333C;
            width: 33%;
            text-align: center;
            border-radius: 10px;
            border: #7C7C7C solid 1px;
            margin-right: 2%;

            .datas{
                display: flex;
                justify-content: space-evenly;
            }

            & input {
                background-color: #3A3B47;
                color: #fff;
                border: #4E4E4E solid 1px;
                border-radius: 5px;

                font-family: "Abel", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 22px;
                margin-top: 0px;
                margin-bottom: 1px;
            }

             input[type="date"]::-webkit-calendar-picker-indicator {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8 14q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m4 0q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m4 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14M3 22V4h3V2h2v2h8V2h2v2h3v18zm2-2h14V10H5z'/%3E%3C/svg%3E") no-repeat;
                background-size: 80%;
                background-position: center;
                padding: 0;
                margin-left: -20px;
            }
        }


    }

    .conteudo{
        padding-top: 15px;
        width: 80%;
        display: flex;

        .ctdEsq{
            background-color: #292A32;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            border-radius: 10px 0px 0px 10px;
            box-shadow: 20px 0px 20px 0px rgba(0, 0, 0, 0.384);
            z-index: 99;

            .heatmap {
                margin-top: 5px;
                width: 330px;
                height: 370px;
                background-image: url(/css/planta_filial3.png);
                background-size: cover;
                align-self: center;
                border-radius: 5px;
              }

              & h2 {
                margin-top: 10px;
                margin-bottom: 10px;

                font-family: "Abel", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 35px;
                margin-top: 0px;
                margin-bottom: 1px;
              }
        }

        .ctdDir{
            width: 50%;
            background-color: #59595E;
            border-radius: 0px 10px 10px 0px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            & h2{
                margin-top: 10px;
                margin-bottom: 10px;

                font-family: "Abel", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 30px;
                margin-top: 0px;
                margin-bottom: 1px;
            }

            .sug {
                background-color: #31333C;
                border: #FFFFFF solid 1px ;
                width: 80%;
                margin-top: 8%;
                display: flex;
                justify-content: space-evenly;
                border-radius: 5px;
                cursor: pointer;

                & svg {
                    height: 100%;
                    width: 9%;
                }

                & use {
                    width: 40%;
                    height: 100%;
                }


                & h3 {
                    font-family: "Abel", sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 28px;
                    margin-top: 0px;
                    margin-bottom: 1px;
                }
            }
        }
    }

    .conteudo2{
        padding-top: 10px;
        height: 500px;
        width: 80%;
        display: flex;

        & .ctdEsq{
            background-color: #292935;
            width: 60%;
            height: 100%;
            padding-left: 10px;
            padding-right: 10px;
            color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px 0px 0px 10px;
            flex-direction: column;
            z-index: 100;
            box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.384);
            margin-left: 0px;

            & .GfLinha{
                height: 200px;
                width: 80%;

            }

            & .GfBar{
                height: 200px;
                width: 90%;
            }

            & .divisao{
                margin-top: 5px;
                margin-bottom: 5px;
                width: 103.5%;
                height: 2%;
                background-image: linear-gradient(#292A32, #1b1b1bba, #292A32);
            }

            & .tituloLinha{
                font-size: 24px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            & .tituloBarra{
                font-size: 24px;
                margin-top: 0px;
            }
        }

        & .ctdDir{
            background-color: #292935;
            width: 40%;
            padding-left: 10px;
            padding-right: 10px;
            color: #FFF;
            display: flex;
            align-items: center;
            border-radius: 0px 10px 10px 0px;
            flex-direction: column;
            box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.384);
            z-index: 98;

            & h1{
                font-size: 34px;
            }

            & h3 {
                margin-bottom: 0px;
                font-weight: 100;
                margin-top: 5px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                span {
                    font-size: 20px;
                    margin-top: 15px;
                }

                span:nth-of-type(2) {
                    font-size: 15px;
                }
            }

            .tituloRsq {
                font-size: 25px;
                margin-top: 5px;
            }

            & .comparacao{
                width: 80%;
                display: flex;

                & .barra1{
                    width: 50%;
                    background-color: #FF6F16;
                    border: #9D3C00 solid 2px;
                    border-right: none;
                    text-align: center;
                }

                & .barra2{
                    width: 50%;
                    background-color: #FFB418;
                    border: #C98800 solid 2px;
                    border-left: none;
                    text-align: center;
                }
            }

            & h3 {
                width: auto;
            }

            & .labelsAlerta{
                display: flex;
                justify-content: center;
                margin-top: 15px;

                & h3{
                    margin-bottom: 0px;
                    font-weight: 100;
                    margin-top: 0px;
                    margin-right: 15px;
                    width: auto;
                    /* justify-content: space-between; */
                }

                h3:nth-of-type(2) {
                    margin-right: 0px;
                }
            }

            & .txt {
                text-align: center;
                width: 100%;
                margin-bottom: 5px;
            }

            & .txt:nth-of-type(2) {
                text-align: center;
                width: 100%;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            & .graficoRosquina {
                display: flex;
                /* justify-content: center; */
                justify-content: space-around;
                width: 100%;
                height: 35%;

            }

            & .graficoRsq1{
                height: 100%;
                width: 40%;
            }

            & .graficoRsq2{
                height: 100%;
                width: 40%;
            }

            & .labelsRsq{
                display: flex;

                & h3{
                    margin-bottom: 0px;
                    font-weight: 100;
                    margin-top: 0px;
                    margin-right: 15px;
                    width: auto;
                    /* justify-content: space-between; */
                }
            }

            & .divisao{
                margin-top: 20px;
                margin-bottom: 5px;
                width: 105%;
                height: 2%;
                background-image: linear-gradient(#292A32, #1b1b1bba, #292A32);
            }

        }

        .DBSlider {
            width: 73.3%;
            display: flex;
            justify-content: space-evenly;
            padding-right: 10%;
            margin-left: 0;
            height: 10%;
            padding-top: 2%;

            & h3 {
                margin-top: 10px;
            }

            .filtrosSL {
                padding-top: 2%;
                display: flex;
                flex-direction: row;
                width: 40%;
                height: 80%;
            }

              /* #slider-1 {
                margin-bottom: 12px;
            }

              #slider-2 {
                margin-bottom: 12px;
            } */

              .wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                align-items: center;
                margin: 0.5% 0 0 10px;
              }

              .wrapper .sliderContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 100%;
                height: 30px;
                margin-top: 5px;
              }
              input[type="range"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 100%;
                outline: none;
                position: absolute;
                background-color: transparent;
              }
              .slider-track {
                width: 80%;
                height: 5px;
                position: absolute;
                border-radius: 5px;
              }

              input[type="range"]::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                height: 5px;
              }
              input[type="range"]::-moz-range-track {
                -moz-appearance: none;
                height: 5px;
              }
              input[type="range"]::-ms-track {
                appearance: none;
                height: 5px;
              }
              input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 1.7em;
                width: 1.7em;
                background-color: #6D6D6D;
                cursor: pointer;
                margin-top: -9px;
                pointer-events: auto;
                border-radius: 50%;
              }
              input[type="range"]::-moz-range-thumb {
                -webkit-appearance: none;
                height: 1.7em;
                width: 1.7em;
                cursor: pointer;
                border-radius: 50%;
                background-color: #6D6D6D;
                pointer-events: auto;
                border: none;
              }
              input[type="range"]::-ms-thumb {
                appearance: none;
                height: 1.7em;
                width: 1.7em;
                cursor: pointer;
                border-radius: 50%;
                background-color: #1D314D;
                pointer-events: auto;
              }
              input[type="range"]:active::-webkit-slider-thumb {
                background-color: #FFF;
                border: 1px solid #1D314D;
              }

              /* legenda do slider */
              .values {
                background-color: #1d314d00;
                width: 150px;
                height: 10px;
                position: relative;
                margin: auto;
                padding: 15px 0;
                border-radius: 10px;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #FFF;
                margin-top: 0px;
                margin-bottom: 5px;
              }

              .values:before {
                content: "";
                position: absolute;
                height: 0;
                width: 0;
                border-top: 15px solid #1d314d00;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                margin: auto;
                bottom: -14px;
                left: 0;
                right: 0;
                display: none;
              }

        }
    }

}

/* #endregion */
