/* imports: */
/* fonts: "Abel", "Hammersmith One" */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Hammersmith+One&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* root: */
:root {
  --text-color: #ffffffff;
  --shadow-color: #0000007f;

  --div-color: #616161ff;
  --header-color: #31333cff;
  --background-color: #292935ff;
  --dashboard-color: #3a3b47ff;

  --gerente-color: #ff3131ff;
  --analista-color: #e9864aff;

  font-size: 1.5dvh;
}


.botao-filtrar {
  background-color: #3a3b47;
  border: #8e8c8c solid 2px;
  color: #fff;
  border-radius: 5px;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
}



/* defaults: */
body,
body *:not(script) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  outline: none;
  outline-offset: 1px;
  border: none;
  padding: 0;
  background: none;
  font: 1rem "Abel", sans-serif;
  color: var(--text-color);
}

/* css estruturado: */
body {
  align-items: stretch;
  height: 100dvh;
  padding: 2rem;
  background: url("/assets/background.svg") no-repeat bottom left/cover
    var(--background-color);

  & h1 {
    font-size: 2.5rem;
  }

  & h2 {
    font-size: 1.5rem;
  }

  & a {
    text-decoration: none;
  }

  & hr {
    border: 1px solid var(--text-color);
    width: 100%;
  }

  & :is(button, select) {
    cursor: pointer;
  }

  & option[selected][disabled] {
    display: none;
  }

  & > div {
    flex-direction: row;
    align-items: stretch;
    flex: 1;

    & > header {
      gap: 2rem;
      align-items: stretch;
      z-index: 1;
      box-shadow: 10px 0px 10px var(--shadow-color);
      border-radius: 10px 0px 5px 10px;
      padding: 2rem;
      background-color: var(--header-color);
      width: 20rem;

      & > a.logo {
        transition: transform 0.2s;
        width: 100%;
        flex-direction: row;

        &:hover {
          transform: scale(105%, 105%);
        }

        & > div.img {
          flex: 1;

          & > img {
            width: 100%;
          }
        }

        & > h1 {
          flex: 1;
          font-family: "Hammersmith One", sans-serif;
        }
      }

      & > nav {
        gap: 2rem;
        justify-content: start;
        flex: 1;
        width: 75%;
        align-self: center;

        & > section {
          align-self: stretch;

          & > h2 {
            align-self: center;
          }

          & > ul {
            align-self: stretch;

            &,
            & > li {
              align-items: stretch;
            }

            & > li {
              transition: transform 0.2s;

              &:hover {
                transform: scale(105%, 105%) translate(2.5%, 0%);
              }

              &.ativo {
                border-radius: 3px;
                background-color: var(--dashboard-color);
              }

              & > a {
                flex-direction: row;

                justify-content: space-between;
                padding: 0 0.5em;

                & > img {
                  height: 1em;
                }
              }
            }
          }
        }

        & > section.gerente {
          border-left: 5px solid var(--gerente-color);
        }

        & > section.analista {
          border-left: 5px solid var(--analista-color);
        }
      }

      & > hr {
        border-color: var(--div-color);
      }

      & > a.perfil {
        transition: transform 0.2s;
        flex-direction: row;
        gap: 1rem;

        &:hover {
          transform: scale(105%, 105%);
        }

        & > div.img > img {
          height: 5rem;
        }

        & > div > span.nome {
          font-size: 2rem;
        }
      }
    }

    & > main {
      align-items: stretch;
      gap: 1rem;
      flex: 1;
      border-radius: 0px 10px 10px 0px;
      padding: 2rem;
      background-color: var(--dashboard-color);
      height: 98%;

      & > header {
        gap: 1.5em;
        align-items: stretch;

        & > div {
          border-radius: 10px;
          padding: 0.5rem;
          background-color: var(--header-color);

          & > h1 {
            font-size: 3rem;
          }
        }

        & > search {
          flex-direction: row;
          gap: 1.5rem;

          & > div {
            gap: 0.5rem;
            flex: 1;
            border-radius: 10px;
            border: 1px solid var(--div-color);
            padding: 1rem;
            background-color: var(--header-color);

            & > span {
              font-size: 2rem;
            }

            & > * {
              flex-direction: row;
              gap: 1rem;
              align-self: stretch;

              & > select, & > input {
                transition: transform 0.2s;
                flex: 1;
                border-radius: 5px;
                border: 1px solid var(--div-color);
                padding: 0.2em;
                background-color: var(--dashboard-color);
                font-size: 1.5rem;

                &:hover {
                  transform: scale(105%, 105%);
                }
              }
            }
          }
        }
      }

      & > section.dashboard {
        align-items: stretch;
        gap: 1rem;
        flex: 1;


        .status-container {
          gap: 20px;
        }

        .fundo-status {
          background-color: var(--header-color);
          align-items: stretch;
        }

        .fundo-status h2 {
          font-size: x-larger;
          font-weight: bold;
        }

        .engloba-status {
          flex: 1;
          background-color: var(--header-color);
          justify-content: space-evenly;
          gap: 2rem;
          flex-direction: row;
        }

        .status-box {
          border-radius: 10px;
          position: relative;
          transition: all 1000ms ease;
          transform-style: preserve-3d;
        }

        .critico {
          background-color: #ff4d4d;
        }

        .atencao {
          background-color: #ffcc00;
        }

        .normal {
          background-color: #99cc66;
        }

        .status-label {
          font-size: 1.2em;
          font-weight: bold;
        }

        .status-numero {
          font-size: 2em;
          font-weight: bold;
        }

        .face {
          position: absolute;
        }

        .front {
          background-size: cover;
          background-position: center;
          transform: rotateY(180deg);
          text-align: center;
          color: white;
          min-height: 2em;
          padding: 1em;
          width: 100%;
        }

        .back {
          background-size: cover;
          background-position: center;
          backface-visibility: hidden;
          border-radius: 10px;
          min-height: 2em;
          padding: 1em;
        }

        .back1 {
          background-color: #ff4d4d;
        }

        .back2 {
          background-color: #ffcc00;
        }

        .back3 {
          background-color: #99cc66;
        }

        .area-fora {
          height: 1em;
        }
        .area-fora:hover .status-box {
          transform: rotateY(180deg);
        }

        /* Estilo do Ranking */
        .ranking {
          background-color: var(--header-color);

          color: white;
        }

        .ranking-title {
          font-size: 1.5em;
          font-weight: bold;
          text-align: center;
        }

        table{
          & , & * {
           display: revert;
          }
        }

        .table {
          border-collapse: collapse;
          background-color: #575a64;
          overflow: hidden;
          color: white;
        }

        .table tr {
          /* display: grid; */
          grid-template-columns: 1fr 1fr 1fr;

          text-align: center;
        }

        .table tbody tr:nth-child(1) {
          background-color: #ffe034;
          color: black;
        }

        .table tr:nth-child(2) {
          background-color: #c0c0c0;
          color: black;
        }

        .table tr:nth-child(3) {
          background-color: #cd7f32;
          color: black;
        }

        .fundo-grafico {
          flex: 1;
          background-color: var(--header-color);
        }

        .fundo-grafico-title {
          font-size: 1.5em;

          font-weight: bold;
        }

        .plano-fundo {
          flex-shrink: 2;
        }

        .engloba-indicador{
          flex: 1;
        }


        .engloba-indicador,
        .plano-fundo {

          flex-direction: row;
          background-color: var(--header-color);
          justify-content: space-between;

          & > * {
            flex: 1;
          }
        }

        .chart-area {
          /* max- max- importante */
        }

        .chart-area select {
          background-color: #292935;
          color: white;
          border-color: #231313;
          /* border-style: none; */
        }

        css .filtros {
          border-radius: 10px;
          background-color: #292a32;
        }

        .selecoes {
          flex-direction: row;
          gap: 3rem;
        }

        .fTote {
          background-color: #31333c;

          text-align: center;
          border-radius: 10px;
          border: #7c7c7c solid 1px;

          .fSelect {
            justify-content: space-evenly;

            input,
            select {
              background-color: #3a3b47;
              border: #4e4e4e solid 1px;
              color: #fff;
              border-radius: 5px;

              font-weight: 200;
              font-style: normal;
              font-size: 18px;
            }
          }
        }

        

        #grafico-performance .chart-status {
          /* max- position: relative; importante */
        }

        #stackedBarChart {
        }

        /* .fundo-grafico-title-historico{
          font-size: 1.5em;
          
          font-weight: bold;
          
          
      } */

        .engloba-grafico-performance {
          background-color: var(--header-color);
          justify-content: space-between;
        }

        .engloba-grafico-performance h2 {
          font-size: x-large;

          font-weight: bold;
        }
      }
    }
  }
}
